<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pbtd.manager.live.getEpg.LiveVideoEpgMapper">
	
	<select id="select" resultType="com.pbtd.manager.live.domain.getEpg.LiveVideoEpg">
		select * from live_video where startTime > (UNIX_TIMESTAMP()*1000 - 1000*60*60*24)
	</select>
</mapper>