<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pbtd.manager.inject.phone.mapper.InjectPhoneBehindPriorityMapper">

	<!-- 保存新增专辑
		默认普优 1
	 -->
	<insert id="saveNewAlbum">
		insert into inject_phone_albuminfo(seriesCode,channel,zxPriority,hwPriority)
		SELECT a.seriesCode,a.Channel,1,1
		from vod_phone_albuminfo a 
		where not EXISTS (SELECT 1 from inject_phone_albuminfo b where a.seriesCode=b.seriesCode)
	</insert>
	 
	<!-- 保存新增剧集
		 默认普优 1 
	-->
	<insert id="saveNewVideo">
		insert into inject_phone_albuminfovideo(seriesCode,drama,zxPriority,hwPriority)
		SELECT a.seriesCode,a.drama,1,1 from vod_phone_albuminfovideo a 
		where not EXISTS (SELECT 1 from inject_phone_albuminfovideo b where a.seriesCode=b.seriesCode and a.drama=b.drama)
	</insert> 
	
	<!-- 更新新增专辑-优先级  从频道优先级 -->
	<update id="updateNewAlbumPriority">
		update inject_phone_albuminfo t join inject_phone_priority b on b.channelCode=t.channel
		set t.zxPriority=b.priority,t.hwPriority=b.priority
		where t.zxInjectState is null
		or t.hwInjectState is null 
	</update>
	 
	 <!-- 更新新增剧集-优先级 从专辑优先级 -->
	 <update id="updateNewVideoPriority">
		update inject_phone_albuminfovideo t join inject_phone_albuminfo b on b.seriesCode=t.seriesCode
		set t.zxPriority=b.zxPriority,t.hwPriority=b.hwPriority
		where t.zxInjectState is null 
		or t.hwInjectState is null
	 </update>
	 
	 <!-- 更新新增剧集-优先级  跟播剧 
	 	  中优  2
	 -->
	 <update id="updateNewFollowVideoPriority">
	 	update inject_phone_albuminfovideo t 
		set t.zxPriority=2,t.hwPriority=2
		where t.seriesCode in(
			select b.seriesCode from inject_phone_albuminfo b
			where b.zxInjectState is not null or b.hwInjectState is not null
		)
	 </update>
	 
	 
	 <!-- 查询全部待住入剧集数量 -->
	 <select id="findNewVideoNum" resultType="Integer">
	 	select count(1) from inject_phone_albuminfovideo a 
		left join vod_phone_albuminfovideo b
		on a.seriesCode=b.seriesCode 
		and a.drama=b.drama
		where a.zxInjectState is null 
		or a.hwInjectState is null
	 </select>
	 
	 
	 <!-- 查询待住入剧集 500条-->
	 <select id="">
	 	
	 </select>
	 
	 
</mapper>