<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pbtd.manager.mapper.CpInfoMapper">
	<resultMap id="baseResultMap" type="com.pbtd.manager.domain.CpInfo">
		<id column="id" property="id" />
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="status" property="status" />
	</resultMap>

	<sql id="column">
		id,code,name,status
	</sql>
	<select id="queryByCode" resultMap="baseResultMap">
		select
		<include refid="column" />
		from cp_info
		where code = #{cpCode}
	</select>

	<insert id="insert">
		insert into cp_info
		(code,name,status,createTime,updateTime)
		values
		(#{code},#{name},#{status},#{createTime},#{updateTime})
	</insert>

	<update id="update">
		update cp_info
		set
		code=#{code},name=#{name},status=#{status},updateTime=#{updateTime}
		where id=#{id}
	</update>

	<delete id="delete">
		delete from cp_info
		where id=#{id}
	</delete>

	<select id="queryCount" resultType="long">
		select count(*)
		from cp_info
	</select>
	<select id="queryList" resultMap="baseResultMap">
		select
		<include refid="column" />
		from cp_info
		limit #{start},#{pageSize}
	</select>

	<select id="queryAll" resultMap="baseResultMap">
		select
		<include refid="column" />
		from cp_info
	</select>
</mapper>