<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yh.search.tv.mapper.TvItemMapper">
	<select id="getItemList" resultType="com.yh.search.tv.bean.SearchItem">
		select
		<!-- epis, -->
		if (currentnum>1,'1','0') AS epis,
		seriesCode,
		seriesName,
		pinyin,
		pinyinsuoxie,
		actorName,
		writerName,
		orgairDate,
		Channel,
		ChannelName,
		pictureurl1,
		pictureurl2,
		pictureurl3,
		pictureurl4,
		currentnum,
		originalCountry,
		description,
		status,
		isvip,
		<!-- cornerimg, -->
		score
		from
		vod_tv_albuminfo
	</select>

	<select id="getItemById" parameterType="String" resultType="com.yh.search.tv.bean.SearchItem">
		select
		<!-- epis, -->
		if (currentnum>1,'1','0') AS epis,
		seriesCode,
		seriesName,
		pinyinsuoxie,
		actorName,
		writerName,
		orgairDate,
		Channel,
		ChannelName,
		pictureurl1,
		pictureurl2,
		pictureurl3,
		pictureurl4,
		currentnum,
		originalCountry,
		description,
		status,
		isvip,
		<!-- cornerimg, -->
		score
		from
		vod_tv_albuminfo
		WHERE
		seriesCode=#{seriesCode}
	</select>
</mapper>