<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pbtd.manager.vod.phone.common.mapper.VodPaidAlbummapper">
	<resultMap id="resultMap"
		type="com.pbtd.manager.vod.phone.common.domain.VodPaidSAlbuminfo">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="seriesCode" property="seriesCode" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" jdbcType="DATE" />
	</resultMap>
	<sql id="columns">
		id, seriesCode,create_time
	</sql>
	<!-- 模糊查询 -->
	<sql id="whrClauseLike">
		 
	</sql>
	<sql id="whrClauseLikeMore">
		<if test="id_ != null">
			and ID in
			<foreach collection="id_" index="index" item="item" open="("
				separator="," close=")">
				#{item,jdbcType=INTEGER}
			</foreach>
		</if>
	</sql>
	<!-- 精确查询 -->
	<sql id="whrClauseEqual">
		<if test="id != null and id > -1">
			and ID = #{id,jdbcType=INTEGER}
		</if>	
		<if test="seriesCode != null and seriesCode !=''">
			and seriesCode = #{seriesCode,jdbcType=VARCHAR}
		</if>	
		<if test="create_time != null and create_time != '' ">
			and date_format(create_time,'%Y-%m-%d') = #{create_time,jdbcType=DATE}
		</if>
	</sql>
	<sql id="whrClauseEqualMore">
		<if test="id_ != null">
			and ID in
			<foreach collection="id_" index="index" item="item" open="("
				separator="," close=")">
				#{item,jdbcType=INTEGER}
			</foreach>
		</if>
	</sql>
	<sql id="orderByClause">
		<choose>
			<when test="sort != null and sort != ''">
				order by ${sort}
				<if test="order != null and order != ''">${order}</if>
			</when>
			<otherwise>
				order by  id
			</otherwise>
		</choose>
	</sql>
	<!--SElECT查询语句 -->
	<select id="count" parameterType="Map" resultType="java.lang.Integer">
		select  count(1)
		     from  vod_phone_paid_albuminfo a
		   left join vod_phone_albuminfo b on  a.seriesCode=b.seriesCode
		where 1=1
		<if test="seriesCode != null and seriesCode !=''">
			and a.seriesCode = #{seriesCode,jdbcType=VARCHAR}
		</if>
		<if test="channelCode != null and channelCode !=''">
			and b.Channel = #{channelCode,jdbcType=VARCHAR}
		</if>
		<if test="seriesName != null and seriesName !=''">
				and b.seriesName like '%${seriesName}%'
		</if>	
	</select>
	<select id="page" parameterType="Map"  resultType="Map">
		select a.id,a.create_time, a.seriesCode,b.seriesName,b.ChannelName,b.actorName,
 			writerName,b.volumncount,b.currentnum,b.status,b.sequence,b.labelName
		     from  vod_phone_paid_albuminfo a
		   left join vod_phone_albuminfo b on  a.seriesCode=b.seriesCode
		where 1=1
		<if test="seriesCode != null and seriesCode !=''">
			and a.seriesCode = #{seriesCode,jdbcType=VARCHAR}
		</if>
		<if test="channelCode != null and channelCode !=''">
			and b.Channel = #{channelCode,jdbcType=VARCHAR}
		</if>
		<if test="seriesName != null and seriesName !=''">
				and b.seriesName like '%${seriesName}%'
		</if>		
		<if test="start != null  ">
			limit #{start},#{pageSize}
		</if>
	</select>
	<select id="load" parameterType="java.lang.Integer" resultMap="resultMap">
		select
		<include refid="columns" />
		from vod_phone_paid_albuminfo
		where ID = #{id,jdbcType=INTEGER}
	</select>
	<!--INSERT/UPDATE/DELETE 执行语句 -->
	<insert id="insert" parameterType="com.pbtd.manager.vod.phone.common.domain.VodLabeltype">
		insert into
		vod_phone_paid_albuminfo
		(		  seriesCode 		)
		values
		(		#{seriesCode,jdbcType=VARCHAR} 		)
	</insert>
	<update id="update" parameterType="com.pbtd.manager.vod.phone.common.domain.VodLabeltype">
		update vod_phone_paid_albuminfo
		<set>
			<if test="seriesCode != null ">
				seriesCode = #{seriesCode,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<delete id="deletes" parameterType="Map">
		delete from vod_phone_paid_albuminfo
		where 1=1
		<include refid="whrClauseLike" />
		<include refid="whrClauseEqual" />
		<include refid="whrClauseLikeMore" />
	</delete>
	 
</mapper>