html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background: #fff; /*#dfe8f6*/
    font-size: 12px;
    /*font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;*/
    /*font-family: Verdana, Helvetica, Sans-Serif;*/
    color: #333;
    /* hide overflow:hidden from IE5/Mac */
    /* \*/
    overflow: hidden;
    /* */
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: 0;
}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -300px;
    width: 600px;
    height: 240px;
    background-image: url(images/welcome.jpg)
}

/*���� ��ʼ*/
#loading-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;
    background-color: white;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
    padding: 0;
    width: 70px;
    height: 70px;
    z-index: 20001;
    background: white url("images/loading.gif") 11px 11px no-repeat;
    border-radius: 5px;
}

#loading .loading-text {
    color: #555;
    font: bold 13px tahoma, arial, helvetica;
    padding-top: 21px;
    margin-left: 60px;
}

/*���� ����*/

/*���� ��ʼ*/
a {
    color: #034af3;
    text-decoration: none;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    /*text-decoration: underline;*/
}

a:active {
    color: #12eb87;
}

a.external {
    color: #000;
    padding-right: 18px;
    background: transparent url(images/external.gif) no-repeat center right;
}

a.popup {
    color: #000;
    padding-right: 18px;
    background: transparent url(images/popup.gif) no-repeat center right;
}

/*���� ����*/

/*�? ��ʼ*/
.property {
    display: inline-block;
    margin: 5px 0 0 5px;
    padding: 0;
    white-space: nowrap;
}

.property .label {
    display: inline-block;
    white-space: nowrap;
}

.property .block {
    display: block;
}

.property input.input {
    border: 1px solid #A4BED4;
    font-size: 12px;
    height: 20px; /*IE��Ϊ22*/
    line-height: 20px; /*IE��Ϊ22*/
    padding: 0;
    width: 98px;
}

.property select.input {
    border: 1px solid #A4BED4;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    padding: 0;
    width: 100px;
}

.property .label span {
    color: red;
    font-family: '����';
    padding: 0 2px;
}

/*�?����*/

/*ͷ����ʼ*/
.head {
    background: url(images/head_bg.gif) repeat-x;
    height: 68px;
}

.logo {
    float: left;
    height: 68px;
}

.logo a {
    display: inline-block;
    float: left;
}

.logo a.logo {
    background: url(images/logo.gif) no-repeat;
    height: 68px;
    width: 790px;
}

.logo a.title {
    background: url(images/title.gif) no-repeat;
    height: 68px;
    width: 294px;
}

.tips {
    background: url(images/tips_bg.gif) repeat-x;
    float: right;
    height: 26px;
    list-style-type: none;
    margin: 1px 5px 0 0;
    padding: 0;
}

.tips li {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}

.tips li.left {
    background: url(images/tips_left.gif) repeat-x;
    height: 27px;
    width: 39px;
}

.tips li.right {
    background: url(images/tips_right.gif) repeat-x;
    height: 27px;
    width: 31px;
}

.tips li span {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 4px;
}

.tips li a {
    text-decoration: none;
}

.tips li a:visited {

}

.tips li a:hover {
    text-decoration: underline;
}

/*ͷ������*/

/* ʹ��messager.progress ��loadingʱ����ʽ���� >>*/
.progressbar {
    border: 0px;
    height: 40px;
}

.progressbar .progressbar-value {
    visibility: hidden;
    display: none;
}

.progressbar .progressbar-text {

}

.progressbar .progressbar-text .loading {
    background: url('images/loading_blue.gif') no-repeat;
    height: 40px;
    width: 168px;
    margin: auto;
}

td {
   /* background-color: #FFFFFF;*/
    vertical-align: middle;
    height: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}
/*loading ����*/

/*�Ľ��������2013-4-17*/
.table_form {
    background-color: #808080;
    width: 95%;
}

.table_form td {
    background-color: #FFFFFF;
    border: 0px;
    text-align: left;
    height: 30px;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.table_form .td_caption {
    border: 0px;
    background-color: #EEF7FF;
    text-align: center;
    font-weight: bold;
    font-size: 12px; 
    width: 25%;
    height: 35px;
}

.button_column {
    border-style: none;
    background-color: Transparent;
    background-image: url(images/1.10_09.gif);
    height: 25px;
    vertical-align: middle;

}

.ContentAllBigTittle {
    height: 48px;
    background: url(images/ContentListTittleBanner.jpg) no-repeat bottom;
    font-size: 16px;
    color: #9f1512;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}
.tdContent{ 
		border-right: 1px solid #888;
		border-bottom: 1px solid #888;
		padding: 1px 5px;
		border: 1px solid #a9bce6;
		padding-left:3px;
	}
.tdCaption{
	background: #E2E9F1;
	width:15%;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
	padding: 1px 5px;
	border: 1px solid #a9bce6;
}
.tblMain {
	border-collapse: collapse;
	border-spacing: 0;
	border-left: 1px solid #888;
	border-top: 1px solid #888;
}

.singleLine{
	word-break:keep-all;
    white-space:nowrap;
	overflow:hidden;
	display:block;
	text-overflow:ellipsis;
}