<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pbtd.manager.launcher.mapper.LauncherVersionMapper" >
    <resultMap id="baseResultMap" type="com.pbtd.manager.launcher.domain.LauncherVersion" >
        <id column="id" property="id"/>
        <result column="group_id" property="groupId"/>
        <result column="version" property="version"/>
        <result column="type" property="type"/>
    </resultMap>
    
    <sql id="columns">
    	id,version,type,group_id
    </sql>
    
    <select id="queryByType" resultMap="baseResultMap">
    	select <include refid="columns"/>
    	from launcher_version
    	where group_id=#{groupId} and type = #{type}
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    	insert into launcher_version
    	(version,type,group_id)
    	values(#{version},#{type},#{groupId})
    </insert>
    
    <update id="update">
    	update launcher_version
    	set version=version+1
    	where group_id = #{groupId} and type=#{type} and version=#{version}
    </update>
</mapper>