<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pbtd.manager.launcher.mapper.OpTemplateMapper" >
    <resultMap id="baseResultMap" type="com.pbtd.manager.launcher.domain.OpTemplate" >
        <id column="id" property="id"/>
        <id column="temp_name" property="tempName"/>
        <id column="nav_id" property="navId"/>
        <id column="group_id" property="groupId"/>
        <result column="status" property="status"/>
        <result column="loginInfo_name" property="loginInfoName"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>
    
    <sql id="columns">
    	id,temp_name,group_id,nav_id,status,loginInfo_name,create_time,modify_time
    </sql>
    
    <sql id="queryAndlimit">
    	<where>
    		and data_status=#{dataStatus}
    		<if test="navId!=null">
    			and nav_id = #{navId}
    		</if>
    	</where>
    </sql>
    <select id="queryCount" resultType="long">
    	select count(*)
    	from launcher_op_template
    	<include refid="queryAndlimit"/>
    </select>
    <select id="queryList" resultMap="baseResultMap">
    	select <include refid="columns"/>
    	from launcher_op_template
    	<include refid="queryAndlimit"/>
    	order by modify_time desc,id asc
    	limit #{start},#{pageSize}
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    	insert into launcher_op_template
    	(temp_name,group_id,nav_id,status,loginInfo_name,create_time,modify_time,data_status)
    	values(#{tempName},#{groupId},#{navId},#{status},#{loginInfoName},#{createTime},
    	#{modifyTime},#{dataStatus})
    </insert>
    
    <update id="update">
    	update launcher_op_template
    	set temp_name=#{tempName}
    	where id = #{id}
    </update>
    
    <delete id="delete">
    	delete from launcher_op_template
    	where id = #{id}
    </delete>
    
    
    <update id="uplineOrDownLine">
    	update launcher_op_template
    	set status = #{status},modify_time=#{modifyTime}
    	where id = #{id}
    </update>
    
    <delete id="deleteBatch">
    	delete from launcher_op_template
    	where id in 
    	<foreach collection="list" index="index" item="id" open="(" separator="," close=")">
    		#{id}
    	</foreach>
    </delete>
    
    <select id="queryById" resultMap="baseResultMap">
    	select <include refid="columns"/>
    	from launcher_op_template
    	where id = #{id}
    </select>
    
    <select id="queryByNavIdUpline" resultMap="baseResultMap">
    	select <include refid="columns"/>
    	from launcher_op_template
    	where nav_id = #{navId} and status = #{status}
    </select>
    
    <select id="queryListByNavId" resultMap="baseResultMap">
    	select id,temp_name
    	from launcher_op_template
    	where nav_id = #{navId}
    </select>
    
    <update id="updateDataStatus">
    	update launcher_op_template
    	set data_status=#{dataStatus}
    	where nav_id in
    	<foreach collection="list" index="index" item="navId" open="(" separator="," close=")">
    		#{navId}
    	</foreach>
    </update>
    <update id="updateDataStatusByGroupId">
    	update launcher_op_template
    	set data_status=#{dataStatus}
    	where group_id in
    	<foreach collection="list" index="index" item="groupId" open="(" separator="," close=")">
    		#{groupId}
    	</foreach>
    </update>
</mapper>