<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pbtd.playclick.integrate.mapper.CpsourceMapper">
    <resultMap id="resultMap" type="com.pbtd.playclick.integrate.domain.Cpsource">
        <result column="id" property="id" jdbcType="INTEGER" />      
        <result column="name" property="name" jdbcType="VARCHAR" /> 
         <result column="code" property="code" jdbcType="VARCHAR" /> 
        <result column="status" property="status" jdbcType="INTEGER" />      
        <result column="bz" property="bz" jdbcType="VARCHAR" />      
    </resultMap>
    <sql id="columns" >
        id ,name,code, status,bz 
    </sql>
      <select id="load" parameterType="java.lang.Integer" resultMap="resultMap">
        select 
        <include refid="columns" />
        from  cp_source  
        where ID = #{id,jdbcType=INTEGER}
    </select>
    <!--SElECT查询语句-->
    <select id="count" parameterType="Map" resultType="java.lang.Integer">
        select count(id)
        from  cp_source  
        where 1=1
		  <if test="id != null and id > -1">
            and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="code != null and code !='' ">
            and code  = #{code ,jdbcType=VARCHAR}
        </if>
        <if test="name != null and name!='' ">
            and name = #{name,jdbcType=VARCHAR}
        </if>
          <if test="status != null and status!='' ">
            and status = #{status,jdbcType=INTEGER}
        </if>        
    </select>
    <select id="find" parameterType="Map" resultMap="resultMap">
     select 
        <include refid="columns" />
        from  cp_source a
         <if test="id != null and id > -1">
            and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="code != null and code !='' ">
            and code  = #{code ,jdbcType=VARCHAR}
        </if>
        <if test="name != null and name!='' ">
            and name = #{name,jdbcType=VARCHAR}
        </if>
          <if test="status != null and status!='' ">
            and status = #{status,jdbcType=INTEGER}
        </if>
            	 limit #{start},#{pageSize}
    </select>
    <insert id="insert" parameterType="com.pbtd.playclick.integrate.domain.Cpsource">
        insert into 
        cp_source 
        (name,code, status,bz 
        )
        values 
        (
        #{name,jdbcType=VARCHAR},
        #{code,jdbcType=VARCHAR},
        #{status,jdbcType=INTEGER},
        #{bz,jdbcType=VARCHAR}
        )
    </insert>
    <update id="update" parameterType="com.pbtd.playclick.integrate.domain.Cpsource">
        update cp_source
        <set>
         <if test="code != null   ">
              code  = #{code ,jdbcType=VARCHAR},
        </if>
        <if test="name != null  ">
              name = #{name,jdbcType=VARCHAR},
        </if>
          <if test="status != null  ">
              status = #{status,jdbcType=INTEGER},
        </if>
        <if test="bz != null   ">
              bz = #{bz,jdbcType=VARCHAR},
        </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <delete id="deletes" parameterType="Map" >
        delete from cp_source
        where 1=1
        <if test="id != null and id > -1">
            and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="id_ != null">
        	and id in
        	<foreach collection="id_" index="index" item="item" open="(" separator="," close=")">
            	#{item,jdbcType=INTEGER}
            </foreach>
        </if>
    </delete>
 </mapper>